<section id="projects" class="py-16 bg-transparent">
  <div class="container mx-auto px-6">
    <h2 class="text-3xl font-bold mb-8 text-center">Technical Projects</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <!-- Flavum HealthTech -->
      <div
        class="bg-white hover:bg-purple-950 text-purple-950 hover:text-white p-6 rounded-lg shadow-md"
      >
        <h3 class="text-xl font-bold mb-2">Flavum HealthTech - React App</h3>
        <a
          href="https://flavumhealth.com/"
          target="_blank"
          class="text-purple-500 hover:underline mb-4 inline-block"
        >
          Visit Project
        </a>
        <div class="mb-4">
          <span class="font-medium">Flavum HealthTech Pvt Ltd</span> | May
          2024–Present (Remote)
        </div>
        <ul class="list-disc pl-5 space-y-2">
          <li>
            Developed a user-friendly oncological ecosystem to streamline
            workflows and enhance usability.
          </li>
          <li>
            Streamlined cancer screening processes, reducing turnaround time by
            30%.
          </li>
          <li>
            Leveraged AWS services, including S3 for scalable storage, API
            Gateway for seamless API management, and CloudFront for efficient
            content delivery, optimizing performance and reducing load times.
          </li>
        </ul>
      </div>

      <!-- CGManagement -->
      <div
        class="bg-white hover:bg-purple-950 text-purple-950 hover:text-white p-6 rounded-lg shadow-md"
      >
        <h3 class="text-xl font-bold mb-2">CGManagement - Next.js App</h3>
        <a
          href="https://cgmanagement.in/"
          target="_blank"
          class="text-purple-500 hover:underline mb-4 inline-block"
        >
          Visit Project
        </a>
        <div class="mb-4">
          <span class="font-medium">Career Guidance Management</span> | May
          2023–May 2024 (Remote)
        </div>
        <ul class="list-disc pl-5 space-y-2">
          <li>
            Developed responsive interfaces for a platform guiding students,
            leading to a 40% increase in user inquiries.
          </li>
          <li>
            Developed interactive React components, improving navigation and UX
            by 35%, leading to increased student engagement.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
