<section class="py-20 bg-gradient-to-br from-purple-950 to-black/90 text-white">
  <div
    class="container mx-auto px-6 flex flex-col md:flex-row justify-between items-center"
  >
    <div class="md:w-2/3 text-center md:text-left">
      <h1 class="text-4xl md:text-5xl font-bold mb-4">Shubham S Nimje</h1>
      <h2
        id="typewriter"
        class="text-2xl md:text-3xl text-purple-400 mb-6"
      ></h2>
      <p class="text-lg mb-8">
        Full Stack Developer with 2+ years of experience building scalable web
        applications using React.js, Next.js, Angular, Node.js, Python, Django,
        and FastAPI. Skilled in building RESTful APIs, managing databases with
        MySQL and MongoDB, and deploying secure, high-performance apps on cloud
        platforms like AWS. Proficient in using modern tools and libraries like
        Redux, WebSockets, TypeScript, Docker, and GitHub Actions to deliver
        fast, responsive, and maintainable solutions. Passionate about building
        user-centric applications that blend performance, accessibility, and
        great design.
      </p>
      <div
        class="flex flex-col sm:flex-row space-y-4 sm:space-y-0 sm:space-x-4 justify-center md:justify-start"
      >
        <a
          href="#contact"
          class="bg-purple-500 hover:bg-purple-600 text-white px-6 py-3 rounded-lg font-medium transition-colors text-center"
          >Contact Me</a
        >
        <a
          href="/resume.pdf"
          download
          class="bg-transparent cursor-pointer border-2 border-white hover:bg-white hover:text-slate-900 text-white px-6 py-3 rounded-lg font-medium transition-colors text-center"
          >Download Resume</a
        >
      </div>
    </div>
    <div class="mt-10 md:mt-0">
      <img
        src="favicon.jpg"
        alt="Shubham S Nimje"
        class="rounded-full w-64 h-64 object-cover border-4 border-purple-400 shadow-lg"
      />
    </div>
  </div>
</section>
