<section id="about" class="py-16 bg-transparent">
  <div class="container mx-auto px-6">
    <h2 class="text-3xl font-bold mb-8 text-center">About Me</h2>
    <div
      class="bg-white hover:bg-purple-950 text-purple-950 hover:text-white p-8 rounded-lg shadow-md"
    >
      <p class="text-lg mb-4">
        Hey there! 👋 I'm Shubham S Nimje, a Full Stack Developer with a passion
        for creating seamless web experiences. My journey in tech has been both
        diverse and dynamic, blending my expertise in Front-end and Back-end
        development. I specialize in crafting intuitive user interfaces using
        HTML, CSS, JavaScript, React.js, Angular, and Next.js, while ensuring
        robust server-side functionality with Node.js, Express.js, Python,
        Django, and FastAPI.
      </p>
      <p class="text-lg mb-4">
        My expertise extends to database management, where I proficiently handle
        data with MySQL and MongoDB. Designing responsive and visually engaging
        applications is my forte, leveraging tools like WordPress, Bootstrap,
        and Tailwind CSS to enhance user experience. I'm also experienced in
        using AWS services (EC2, Lambda, RDS), GitHub Actions, and Docker to
        deploy and manage cloud-native applications efficiently.
      </p>
      <p class="text-lg mb-4">
        My professional experience includes working as a Frontend Developer at
        Flavum HealthTech, where I helped build a scalable doctor consultation
        platform, and as a Full Stack Developer at CG Management, contributing
        to student guidance and numerology platforms. I've also managed my own
        WooCommerce-based e-commerce store, which taught me the importance of
        user experience, performance optimization, and practical
        problem-solving.
      </p>
      <p class="text-lg">
        I'm passionate about building high-performance, user-centric
        applications that deliver exceptional user experiences and tangible
        business value. Always eager to learn and evolve with modern
        technologies, I strive to create digital solutions that make a real
        impact.
      </p>
    </div>
  </div>
</section>
